<form nz-form [formGroup]="cursoForm" (ngSubmit)="handleSubmit()">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="titulo">Nome</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="O nome é obrigatório!">
      <input nz-input formControlName="nome" id="nome" style="width: 100%" />
    </nz-form-control>
  </nz-form-item>
</form>

<div *nzModalFooter>
  <button nz-button nzType="default" (click)="handleCancel()">Cancelar</button>
  <button nz-button nzType="primary" (click)="handleSubmit()"
    [nzLoading]="submiting">{{ this.editing ? 'Editar' : 'Criar'}} Curso
  </button>
</div>