<div nz-row nzGutter="16">
  <div nz-col nzSpan="8">
    <nz-card nzTitle="Detalhes">
      <nz-form-item>
        <nz-form-label>Nome</nz-form-label>
        <nz-form-control>
          <input nz-input name="nome">
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label>Descrição</nz-form-label>
        <nz-form-control>
          <textarea nz-input name="nome"></textarea>
        </nz-form-control>
      </nz-form-item>

    </nz-card>
  </div>
  <div nz-col nzSpan="16">
    <nz-card nzTitle="Aulas" [nzExtra]="extras">
      <ng-template #extras>
        <button nz-button nzType="dashed" (click)="addAula()">
          <i nz-icon nzType="plus"></i>
        </button>
      </ng-template>

      <nz-empty *ngIf="!aulas.length; else aulasCard"
                nzNotFoundContent="Adicione uma aula ao curso para começar!"></nz-empty>

      <ng-template #aulasCard>
        <nz-card *ngFor="let aula of aulas" [nzTitle]="aula.titulo" style="margin-bottom: 8px" [nzExtra]="extrasAula">

          <ng-template #extrasAula>
            <nz-switch></nz-switch>
          </ng-template>

          <nz-form-item>
            <nz-form-control>
              <button nz-button nzType="dashed" class="add-button">
                <i nz-icon nzType="plus"></i>
                Adicionar conteúdo
              </button>
            </nz-form-control>
          </nz-form-item>
          <div [innerHTML]="aula.descricao"></div>
        </nz-card>
      </ng-template>
    </nz-card>
  </div>
</div>
