<form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="onSubmit()">
  <nz-form-item>
    <nz-form-control nzErrorTip="Por favor informe seu email!">
      <nz-input-group nzPrefixIcon="user">
        <input type="text" nz-input formControlName="username" placeholder="Email" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Por favor informe sua senha!">
      <nz-input-group nzPrefixIcon="lock">
        <input type="password" nz-input formControlName="password" placeholder="Senha" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <label nz-checkbox formControlName="remember">
        <span>Lembrar me</span>
      </label>
      <a class="login-form-forgot" class="login-form-forgot">Esqueci a senha</a>
      <button nz-button class="login-form-button" [nzType]="'primary'" [disabled]="submitted">Entrar</button>


    </nz-form-control>
  </nz-form-item>
</form>
