<form nz-form [formGroup]="aulaForm" (ngSubmit)="handleSubmit()">
  <nz-form-item>
    <nz-form-control nzErrorTip="O título é obrigatório!">
      <nz-input-group [nzAddOnAfter]="suffix" nzSearch nzSize="large">
        <input nz-input formControlName="titulo" id="titulo" placeholder="Título da aula..."/>
      </nz-input-group>

      <ng-template #suffix>
        <button nz-button nzType="primary" nzSize="large" nzSearch>
          <i nz-icon nzType="check"></i>
          Salvar
        </button>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <div nz-row nzType="flex" nzJustify="space-between" style="margin-bottom: 8px">
    <div nz-col nzSpan="4">
      <button nz-button nzType="dashed" nzBlock (click)="handleOpenWebcam()">
        <i nz-icon nzType="video-camera"></i>
        Gravar vídeo
      </button>
    </div>

    <div nz-col nzSpan="4">
      <button nz-button nzType="dashed" nzBlock>
        <i nz-icon nzType="audio"></i>
        Gravar áudio
      </button>
    </div>

    <div nz-col nzSpan="4">
      <button nz-button nzType="dashed" nzBlock>
        <i nz-icon nzType="desktop"></i>
        Capturar tela
      </button>
    </div>

    <div nz-col nzSpan="4">
      <button nz-button nzType="dashed" nzBlock>
        <i nz-icon nzType="paper-clip"></i>
        Anexar conteúdo
      </button>
    </div>

    <div nz-col nzSpan="4">
      <button nz-button nzType="dashed" nzBlock>
        <i nz-icon nzType="plus"></i>
        Adicionar avaliação
      </button>
    </div>
  </div>

  <nz-form-item>
    <quill-editor theme="snow" placeholder="conteúdo da aula..."
                  [styles]="{'height': '500px', 'background-color': 'white'}"
                  formControlName="descricao"></quill-editor>
  </nz-form-item>
</form>
