<nz-page-header nzTitle="Cursos"></nz-page-header>
<div style="padding:30px;">

  <div nz-row [nzGutter]="8">
    <div nz-col [nzSpan]="8" *ngFor="let item of courses" style="margin-bottom: 5px">
      <nz-card [nzTitle]="item.titulo">
        <p>{{ item.descricao }}</p>
        <p></p>
      </nz-card>
    </div>
  </div>
</div>
