#container {
  height: 100vh;
  background-image: url("~src/assets/back2.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#wrapper {
  height: 100vh;
  width: 100vw;
  /* background-color: rgba(255,255,255,.5); */
}
.imgback {
  width: 100vh;
  height: 100vw;
}

.logoTitle {
  
}