<!-- <div nz-row nzGutter="16">
    <div nz-col nzSpan="6" style="border: 2px bold gray ">
        <p><label>Novos alunos</label></p>
        <p>114</p>
        <p>Mês anterior <b>78%</b></p>
        <nz-divider></nz-divider>
        <p>Agendamentos hoje 3</p>
    </div>

</div> -->