<nz-card nzTitle="Cursos cadastrados" [nzExtra]="extra">
  <ng-template #extra>
    <button nz-button nzType="dashed" (click)="addCurso()"><i nz-icon nzType="plus"></i>Adicionar</button>
  </ng-template>

  <nz-table #courseTable [nzData]="page.content" [nzTotal]="page.totalElements">
    <thead>
    <tr>
      <th>Nome</th>
      <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of courseTable.data">
      <td>{{data.nome}}</td>
      <td style="width: 250px">
        <a (click)="editCurso(data)">Editar</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a>Desativar</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a>Clonar</a>
      </td>
    </tr>
    </tbody>
  </nz-table>
</nz-card>
