<nz-page-header nzTitle="Meus cursos"></nz-page-header>
<div nz-row nzGutter="16">
    <div nz-col nzSpan="8" *ngFor="let item of myCourses" style="margin-bottom: 10px">
        <nz-card [nzTitle]="item.titulo" nz-row nzType="flex" nzJustify="center" nzAlign="middle">
            <nz-progress [nzPercent]="item.concluido" nzType="circle"></nz-progress>
            <!-- <div>{{ item.descricao }}</div> -->
        </nz-card>
    </div>
</div>


<div nz-row nzGutter="16">
    <div nz-col nzSpan="8">

    </div>
    <div nz-col nzSpan="16" *ngFor="let item of myCourses" style="margin-bottom: 10px">
        <nz-card [nzTitle]="item.titulo" nz-row nzType="flex" nzJustify="center" nzAlign="middle">
            <nz-progress [nzPercent]="item.concluido" nzType="circle"></nz-progress>
            <!-- <div>{{ item.descricao }}</div> -->
        </nz-card>
    </div>
</div>