<form nz-form [formGroup]="aulaForm" (ngSubmit)="handleSubmit()">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="titulo">Titulo</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="O título é obrigatório!">
      <input nz-input formControlName="titulo" id="titulo" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <quill-editor theme="snow" placeholder="adicione uma descrição" [styles]="{height: '250px'}"
      formControlName="descricao"></quill-editor>
  </nz-form-item>
</form>

<div *nzModalFooter>
  <button nz-button nzType="default" (click)="handleCancel()">Cancelar</button>
  <button nz-button nzType="primary" (click)="handleSubmit()">Criar turma</button>
</div>