<nz-layout class="app-layout">
    <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
        [nzTrigger]="null" [nzCollapsedWidth]="0">
        <div class="sidebar-logo">
            <a href="#" target="_blank">
                <!-- <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo"> -->
                <h1>ClassEdu - Professor</h1>
            </a>
        </div>
        <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">

            <li nz-menu-item nzMatchRouter routerLink="/features/aluno/cursos">
                <i nz-icon nzType="home"></i>
                <span>Cursos</span>
            </li>

            <li nz-menu-item nzMatchRouter routerLink="/features/aluno/meus-cursos">
                <i nz-icon nzType="home"></i>
                <span>Meus Cursos</span>
            </li>

            <li nz-menu-item nzMatchRouter routerLink="/features/aluno/minhas-turmas">
                <i nz-icon nzType="home"></i>
                <span>Minhas Turmas</span>
            </li>
            <li nz-menu-item nzMatchRouter routerLink="/features/aluno/minhas-notas">
                <i nz-icon nzType="home"></i>
                <span>Minhas Notas</span>
            </li>


            <li nz-menu-item nz-tooltip nzPlacement="right" nzTitle="Sair" routerLink="/auth/logout">
                <i nz-icon nzType="poweroff"></i>
                <span>Sair</span>
            </li>
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header>
            <div class="app-header">
                <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
                    <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
                </span>
            </div>
        </nz-header>
        <nz-content>
            <div class="inner-content">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
    </nz-layout>
</nz-layout>