<div nz-row nzGutter="16" nzType="flex" nzJustify="center">
  <div nz-col nzSpan="16">
    <nz-card nzTitle="Aulas" [nzExtra]="extras">
      <ng-template #extras>
        <button nz-button nzType="dashed" [routerLink]="['aulas', 'new']">
          <i nz-icon nzType="plus"></i>
        </button>
      </ng-template>

      <nz-empty *ngIf="!aulas.length; else aulasCard"
                nzNotFoundContent="Adicione uma aula ao curso para começar!"></nz-empty>

      <ng-template #aulasCard>
        <nz-list [nzDataSource]="aulas" [nzRenderItem]="item" [nzItemLayout]="'horizontal'">
          <ng-template #item let-item>
            <nz-list-item>
              <nz-list-item-meta
                [nzTitle]="nzTitle"
                nzDescription="Criada {{item.createdAt | date: 'dd/MM/yyyy \'às\' HH\'h\'mm\'min\''}} por {{item.user.nome}}"
              >
                <ng-template #nzTitle>
                  <a (click)="openAula(item)">{{ item.titulo }}</a>
                </ng-template>
              </nz-list-item-meta>
            </nz-list-item>
          </ng-template>
        </nz-list>
      </ng-template>
    </nz-card>
  </div>
</div>
