<nz-page-header nzTitle="Aulas de hoje" style="margin: 0 -24px 24px"></nz-page-header>

<div nz-row nzGutter="16">
  <nz-card *ngFor="let aula of aulas" [nzTitle]="aula.titulo" style="margin-bottom: 8px">
    <div [innerHTML]="aula.descricao"></div>
  </nz-card>
</div>
