<div style="text-align:center">
    <div>
        <webcam [height]="500" [width]="500" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
            *ngIf="showWebcam" [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
            [videoOptions]="videoOptions" [imageQuality]="1" (cameraSwitched)="cameraWasSwitched($event)"
            (initError)="handleInitError($event)"></webcam>
        <br />
        <button nz-button class="actionBtn" (click)="triggerSnapshot();">
            <i class="camera"></i>
            <span>
                Capturar
            </span>
        </button>
        <button nz-button class="actionBtn" (click)="toggleWebcam();">Mudar camera</button>
        <br />
        <!-- <button nz-button class="actionBtn" (click)="showNextWebcam(true);" [disabled]="!multipleWebcamsAvailable">Next
            Webcam</button>
        <input id="cameraSwitchCheckbox" type="checkbox" [(ngModel)]="allowCameraSwitch"><label
            for="cameraSwitchCheckbox">Permitir troca de camera</label>
        <br /> -->
        <!-- DeviceId: <input id="deviceId" type="text" [(ngModel)]="deviceId" style="width: 500px">
        <button nz-button (click)="showNextWebcam(deviceId);">Activate</button> -->
    </div>
</div>

<div class="snapshot" *ngIf="webcamImage">
    <img [src]="webcamImage.imageAsDataUrl" />
</div>

<h4 *ngIf="errors.length > 0">Messages:</h4>
<ul *ngFor="let error of errors">
    <li>{{error | json}}</li>
</ul>