<nz-page-header nzTitle="Cursos"></nz-page-header>
<div style="padding:30px;">
    <nz-list [nzDataSource]="data" [nzRenderItem]="item" [nzItemLayout]="'horizontal'" [nzLoading]="loading">
        <ng-template #item let-item>
            <nz-list-item>
                <nz-list-item-meta [nzTitle]="nzTitle" nzAvatar="https://picsum.photos/200/300"
                    [nzDescription]="item.title">
                    <ng-template #nzTitle>
                        <a href="#">{{ item.title }}</a>
                    </ng-template>

                </nz-list-item-meta>
            </nz-list-item>
        </ng-template>
    </nz-list>
</div>